footer {
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: 100%;

    p {
        font: 14px/1 'arial';
        color: #ddd;
        letter-spacing: 1px;
        text-align: center;
    }
}